.advantages {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 3;
}

.advantages__title {
    background: #f6f6f6;
    color: #777;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.advantages__title h1 {
    font-size: 2.8rem;
    margin: 100px 0 20px 0;
    font-weight: 100;
    width: 820px;
    text-align: center;
}

.advantages__title h3 {
    font-size: 1.2rem;
    font-weight: 100;
}

.advantages__container {}

.advantages__transform {
    background: #f6f6f6;
    color: #777;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px 0;
}

.advantages__img {
    width: 35%;

    transform: translate(-120%, 0px);
    opacity: 0;
    transition: all 1.2s ease 0s;
}

.advantages__img.active {
    transform: translate(0px, 0px);
    opacity: 1;
}

.advantages__img img {
    width: auto;
    height: 425px;
    position: relative;
    bottom: 40px;
}

.advantages__items {
    width: 65%;
    display: flex;
    flex-wrap: wrap;
}

.advantages__item {
    width: 50%;
    display: flex;
    margin-bottom: 60px;
    transition: all 0.8s ease 0s;
}

.advantages__item__img1,
.advantages__item__img2,
.advantages__item__img3,
.advantages__item__img4 {
    transform: translate(0px, 120%);
    opacity: 0;
}

.advantages__item.active .advantages__item__img1 {
    transition: all 0.6s ease 0s;
    transform: translate(0px, 0px);
    opacity: 1;
}

.advantages__item.active .advantages__item__img2 {
    transition: all 0.6s ease 0.2s;
    transform: translate(0px, 0px);
    opacity: 1;
}

.advantages__item.active .advantages__item__img3 {
    transition: all 0.6s ease 0.4s;
    transform: translate(0px, 0px);
    opacity: 1;
}

.advantages__item.active .advantages__item__img4 {
    transition: all 0.6s ease 0.6s;
    transform: translate(0px, 0px);
    opacity: 1;
}




.advantages__item:hover .advantages__item__img svg g {
    fill: #3eb0f7;
}

.advantages__item__img svg {
    width: 50px;
    height: 50px;
    margin-right: 40px;
    transition: all 0.8s ease 0s;
}

.advantages__item__img svg g {
    transition: all 0.8s ease 0s;
}

.advantages__discriptionTitle {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.advantages__discriptionDiscription {
    line-height: 28px;
    font-size: 1.2rem;
    font-weight: 100;
}




.advantages__quality {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 3;
    background: white;
    width: 100%;
    padding-bottom: 20px;
}

.advantages__qualityDiscription {
    color: #777;
    width: 50%;

    transition: all 1.2s ease 0s;
    transform: translate(-120%, 0px);
    opacity: 0;
}

.advantages__qualityDiscription.active {
    transform: translate(0px, 0px);
    opacity: 1;
}

.advantages__qualityDiscription h1 {
    font-size: 3rem;
    font-weight: 100;
    margin: 60px 0px 20px 0px;
}

.advantages__qualityImg {
    width: 50%;

    transition: all 1.2s ease 0s;
    transform: translate(120%, 0px);
    opacity: 0;
}

.advantages__qualityImg.active {
    transform: translate(0px, 0px);
    opacity: 1;
}

.advantages__qualityImg img {
    width: 550px;
}

.advantages__qualityDiscriptionDiscription {
    line-height: 27px;
    font-size: 1.16rem;
    font-weight: 100;
    margin: 0 50px 20px 0px;
}

.advantages__button {
    width: fit-content;
    color: #3eb0f7;
    font-size: 1.5rem;
    border: 3px solid #3eb0f7;
    border-radius: 50px;
    padding: 15px 30px;
    margin-top: 20px;
    transition: all 0.8s ease 0s;
}

.advantages__button:hover {
    background: #3eaff6;
    color: white;
}